html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
}

.header {
  background-color: gray;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.blue__color {
  color: #7866F2;
}

.header__top {
  padding-top: 120px;
  padding-bottom: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 60px;
  max-width: 657px;
}

.header__top-text {
  margin-bottom: 60px;
  max-width: 646px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.header__top-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  max-width: 999px;
  height: 76px;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}

.header__content {
  max-width: 1190px;
  margin: 0 auto;
}

.header__content-img {
  padding-bottom: 80px;
}

.header__bottom-text {
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 1168px;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
}

/* ------------------------------- */

.slider {
  padding: 120px 0;
  background-color: #1E1E1E;
  color: gray;
}

.slider__top {
  margin-bottom: 80px;
}

.slider__top-title {
  text-align: center;
  margin: 0 auto 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.slider__top-text {
  max-width: 1168px;
  margin: 0 auto 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.swiper-title {
  margin-left: 135px;
  max-width: 886px;
  height: 96px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.swiper-slide--content {
  display: flex;
}

.swiper-slide--content--inner {
  margin: 0 20px;
}

.slider__content-img {
  margin: 0 auto 120px;
  width: 420px;
  height: 550px;
}

.mySwiper--text {
  margin-bottom: 80px;
}

.slider__content-title {
  margin-bottom: 40px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.slider__content-text {
  margin-bottom: 80px;
  max-width: 1280px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.swiper-pagination {
  margin-bottom: 40px;
  height: 20px;
}

.slider__content-button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 250px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

/* ------------------------------- */

.projects {
  margin: 60px 0;
  background-color: white;
  color: #D8D9D8;
}

.card__short {
  background-color: #29292B;
  width: 1168px;
  height: 707px;
  padding: 0 60px;
  border-radius: 64px;
  cursor: pointer;
}

.card__long {
  background-color: #29292B;
  color: #D8D9D8;
  width: 1168px;
  height: 1570px;
  padding: 0 60px;
  border-radius: 64px;
  margin: 30px 0;
  cursor: pointer;
}

.card__long-content {
  display: flex;
  justify-content: space-between;
}

.card--inactive {
  visibility: hidden;
  height: 0;
}

.card__closed--header {
  display: flex;
  justify-content: space-between;
}

.card__closed--header-inner {
  max-width: 375px;
}

.card__closed--header-title {
  padding: 60px 0 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.card__closed--header-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;
}

.card__closed--header-img {
  width: 428px;
  height: 256px;
  padding: 60px 0 78px;
}

.card__closed--footer {
  display: flex;
  justify-content: space-between;
}

.card__closed--footer-collection {
  max-width: 497px;
}

.card__closed--footer-collection-title {
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.card__pricing {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.pricing__dolars sup {
  font-size: 28px;
  line-height: 32px;
}

.card__button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 179px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.card__closed--footer-graph {
  display: flex;
  justify-content: space-between;
}

.card__closed--footer-graph-inner {
  max-width: 210px;
  padding-bottom: 121px;
}

.card__closed--footer-graph-inner-text {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
}

.bottom-title {
  font-size: 22px;
  line-height: 32px;
}

.card__open--inner {
  max-width: 497px;
}

.card__open--inner-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 60px;
}

.card__open--img {
  width: 428px;
  margin-top: 60px;
}

.card__open--img-slider {
  width: 428px;
  height: 866px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #7867F4;
  border-radius: 30px;
}

.swiper-slide__open--card {
  width: 396px;
  height: 222px;
  border-radius: 40px;
}

.img-graph {
  padding: 0 0 22px 114px;
}

.card__open--img-graph-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;
  max-width: 174px;
  margin-left: auto;
}

.card__open-button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 343px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 25px 0 60px 68px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.defense__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 65px;
}

/* ----------------------------------------*/

.contacts {
  padding: 120px 0;
  background-color: #1E1E1E;
}

.contacts__inner {
  background-color: #D8D9D8;
  width: 613px;
  height: 617px;
  border-radius: 40px;
  margin: 0 auto;
}

.contacts__title {
  padding: 60px 0 14px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.contacts__text {
  padding-bottom: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 591px;
}

.form {
  width: 327px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.form__input {
  color: #1E1E1E;
  margin-bottom: 18px;
  border-radius: 35px;
  border: 1px solid gray;
  display: block;
  width: 100%;
  height: 66px;
  padding: 21px 15px 21px 51px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.form__input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
}

.form-name::before {
  background-image: url(../images/name.svg);
}

.form-phone::before {
  background-image: url(../images/phone.svg);
}

.form-email::before {
  background-image: url(../images/email.svg);
}

.form__button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 100%;
  height: 66px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
}

span {
  color: #7E868E;
}

span a {
  color: #7E868E;
  text-decoration: underline;
}

/* ------------------------------- */


@media (max-width: 1200px) {

  .logo {
    margin-bottom: 30px;
  }

  .header__top-text {
    margin-bottom: 30px;
  }

  .header__top-title {
    margin-bottom: -30px;
  }

  .header__content-img {
    width: 900px;
    padding-bottom: 40px;
  }

  .slider {
    padding: 80px 0;
  }

  .slider__top {
    margin-bottom: 50px;
  }

  .slider__top-title {
    margin-bottom: 50px;
  }

  .mySwiper--text {
    margin-bottom: 50px;
  }

  .card__short {
    max-width: 900px;
    margin: 0 auto 20px;
  }

  .card__long {
    max-width: 900px;
    margin: 0 auto 20px;
  }

  .card__open--inner-text {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  .defense__text {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 28px;
  }
}

/* ----------------------------- */


@media (max-width: 945px) {
  .logo__img {
    width: 550px;
  }

  .header__content-img {
    width: 700px;
  }

  .slider__content-img {
    margin: 0 auto 120px;
    width: 400px;
    height: 460px;
  }

  .card__short {
    max-width: 600px;
    height: 530px;
    margin: 0 auto 20px;
  }

  .card__closed--header-title {
    padding: 50px 0 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .card__closed--header-text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 15px;
  }

  .card__closed--header-img {
    max-width: 375px;
    height: 256px;
    padding: 60px 0 78px 10px;
  }

  .card__closed--footer-collection-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .card__closed--footer-graph-inner-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .card__pricing {
    font-size: 14px;
    line-height: 18px;
  }

  .card__long {
    max-width: 715px;
    height: 1155px;
  }

  .card__long-content {
    gap: 20px;
  }

  .swiper-slide__open--card {
    width: 250px;
    height: 150px;
    border-radius: 40px;
  }

  .card__open--img-slider {
    width: 300px;
    height: 600px;
    margin-bottom: 20px;
  }

  .defense__text {
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }

  .card__open--inner-text {
    font-size: 10px;
    line-height: 14px;
  }

  .card__open--img-graph-text {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .card__button {
    height: 45px;
    font-size: 16px;
    line-height: 24px;
  }

  .card__open-button {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .inner--text-none {
    display: none;
  }
}

/* ----------------------------- */


@media (max-width: 768px) {
  .header__top {
    padding-top: 60px;
  }

  .logo {
    max-width: 657px;
  }

  .logo__img {
    max-width: 310px;
    margin: 0 auto;
  }

  .header__top-text {
    margin-bottom: 30px;
    max-width: 530px;
    font-size: 18px;
    line-height: 24px;
  }

  .header__top-title {
    margin-bottom: -125px;
    font-size: 18px;
    line-height: 24px;
    max-width: 600px;
  }

  .header__bottom-text {
    padding-bottom: 15px;
    max-width: 600px;
    font-size: 14px;
    line-height: 1.4;
  }

  .card__short {
    max-width: 560px;
    height: 460px;
    border-radius: 40px;
    padding: 0 20px;
    margin: 0 auto 20px;
  }

  .card__closed--footer-graph-inner-text {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .closed--footer-graph-img {
    max-width: 135px;
    display: block;
  }

  .card__closed--footer-collection {
    max-width: 110px;
  }

  .card__long {
    max-width: 500px;
    height: 840px;
  }

  .card__open--inner-text {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 10px;
  }

  .swiper-slide__open--card {
    width: 170px;
    height: 120px;
    border-radius: 25px;
  }

  .card__open--img {
    width: 150px;
    margin-top: 45px;
  }

  .card__open--img-slider {
    width: 200px;
    height: 450px;
    margin-bottom: 20px;
  }

  .card__button {
    width: 120px;
    height: 35px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 40px;
  }

  .card__open-button {
    width: 104px;
    height: 30px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
  }
}

/* ----------------------------- */

@media (max-width: 675px) {
  .header__top {
    padding-top: 60px;
  }

  .logo {
    max-width: 400px;
  }

  .header__bottom-text {
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 1.4;
  }

  .card__short {
    max-width: 480px;
    height: 400px;
  }

  .card__closed--header-title {
    padding: 30px 0 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .card__closed--header-img {
    max-width: 130px;
    height: 190px;
    padding: 25px 0 15px 10px;
  }

  .card__closed--footer-graph-inner-text {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .closed--footer-graph-img {
    max-width: 135px;
    display: block;
  }

  .card__closed--footer-collection {
    max-width: 110px;
  }

  .card__long {
    max-width: 500px;
    height: 840px;
  }

  .card__open--inner-text {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 10px;
  }

  .swiper-slide__open--card {
    width: 170px;
    height: 120px;
    border-radius: 25px;
  }

  .card__open--img {
    width: 150px;
    margin-top: 45px;
  }

  .card__open--img-slider {
    width: 150px;
    height: 435px;
    margin-bottom: 20px;
  }

  .card__button {
    width: 120px;
    height: 35px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 40px;
  }

  .card__open-button {
    width: 104px;
    height: 30px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
  }

  .contacts {
    padding: 60px 0;
  }

  .contacts__inner {
    width: 460px;
    height: 583px;
    border-radius: 40px;
    margin: 0 auto;
  }

  .contacts__title {
    padding: 30px 0 10px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }

  .contacts__text {
    padding-bottom: 20px;
    width: 470px;
    font-size: 16px;
    line-height: 20px;
  }
}

/* ----------------------------- */

@media (max-width: 550px) {
  .logo__img {
    max-width: 400px;
    margin: 0 auto;
  }

  .header__top-text {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  .header__top-title {
    margin-bottom: -110px;
    font-size: 18px;
    line-height: 24px;
  }

  .card__short {
    max-width: 360px;
    height: 290px;
    border-radius: 40px;
    padding: 0 20px;
    margin: 0;
  }

  .card__closed--header {
    display: block;
    padding: 0;
  }

  .card__closed--header-title {
    padding: 20px 0 10px;
    font-size: 10px;
    line-height: 12px;
  }

  .card__closed--header-text {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 10px;
  }

  .card__closed--header-inner {
    max-width: 240px;
  }

  .card__closed--header-img {
    display: none;
  }

  .card__pricing {
    font-size: 10px;
    line-height: 12px;
  }

  .pricing__dolars sup {
    font-size: 12px;
    line-height: 14px;
  }

  .card__closed--footer-graph-inner-text {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .closed--footer-graph-img {
    max-width: 135px;
    display: none;
  }

  .card__closed--footer-collection {
    max-width: 110px;
  }

  .card__long {
    max-width: 360px;
    height: 715px;
    border-radius: 40px;
    margin: 0 0 20px 0;
  }

  .card__open--inner-text {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 10px;
  }

  .swiper-slide__open--card {
    width: 170px;
    height: 120px;
    border-radius: 25px;
  }

  .card__open--img {
    display: none;
  }

  .card__open--img-slider {
    width: 200px;
    height: 450px;
    margin-bottom: 20px;
  }

  .card__button {
    width: 120px;
    height: 35px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 40px;
  }

  .card__open-button {
    width: 104px;
    height: 30px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
  }
}

/* ---------------------------- */

@media (max-width: 480px) {
  .header__top {
    padding-top: 60px;
  }

  .logo__img {
    max-width: 250px;
    margin-left: auto;
  }

  .header__top-text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    margin-bottom: 10px;
  }

  .header__top-title {
    margin-bottom: -130px;
    font-size: 14px;
    line-height: 18px;
    max-width: 400px;
  }

  .header__content-img {
    max-width: 250px;
    padding-bottom: 20px;
  }

  .header__bottom-text {
    padding-bottom: 10px;
    max-width: 400px;
  }

  .swiper-slide--content {
    display: flex;
    flex-direction: column;
  }

  .swiper-title {
    text-align: left;
    margin: 0 0;
  }

  .slider__content-img {
    margin: 0 auto 60px;
    width: 250px;
    height: 300px;
  }

  .img--1 {
    display: none;
  }

  .swiper-pagination {
    margin-bottom: 10px;
  }

  .card__short {
    width: 400px;
    height: 322px;
    border-radius: 25px;
    margin: 0 auto 20px;
    padding: 10px;
  }

  .card__closed--header-title {
    padding: 10px 0 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .card__closed--footer-collection-title {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .card__closed--footer-graph-inner-text {
    margin: 0 0 15px 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .card__closed--footer-graph {
    display: flex;
    flex-direction: column;
  }

  .closed--footer-graph-img {
    display: none;
  }

  .card__long {
    display: none;
  }

  .inner--text-none {
    display: none;
  }

  .card__pricing {
    font-size: 14px;
    line-height: 18px;
  }

  .card__button {
    width: 95px;
    height: 30px;
    margin: 20px 0 0 0;
    font-size: 12px;
    line-height: 14px;
  }

  .contacts {
    padding: 50px 0;
  }

  .contacts__inner {
    width: 380px;
    height: 470px;
  }

  .contacts__title {
    padding: 30px 0 14px;
  }

  .contacts__text {
    padding-bottom: 14px;
    width: 385px;
    font-size: 12px;
    line-height: 16px;
  }

  .form {
    width: 250px;
  }

  .form__input {
    height: 50px;
  }

  .form__button {
    height: 50px;
  }

  .form__checkbox {
    margin: 0 auto;
  }
}

/* ---------------------------------------------------------- */


@media (max-width: 430px) {
  .logo__img {
    max-width: 250px;
    margin-left: auto;
  }

  .header__bottom-text {
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
  }
}