html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  min-height: 100vh;
}

.header {
  background-color: gray;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.blue__color {
  color: #7866F2;
}

.header__top {
  padding-top: 120px;
  padding-bottom: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-bottom: 60px;
  width: 657px;
}

.header__top-text {
  margin-bottom: 60px;
  max-width: 646px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.header__top-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  max-width: 999px;
  height: 76px;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}

.header__content {
  width: 1190px;
  margin: 0 auto;
}

.header__content-img {
  padding-bottom: 80px;
}

.header__bottom-text {
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 1168px;
  text-align: left;
}

/* ---------------------------------------------------------------- */

.slider {
  padding: 120px 0;
  background-color: #1E1E1E;
  color: gray;
}

.slider__top {
  margin-bottom: 80px;
}

.slider__top-title {
  text-align: center;
  margin: 0 auto 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.slider__top-text {
  max-width: 1168px;
  margin: 0 auto 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.swiper-title {
  margin-left: 135px;
  max-width: 886px;
  height: 96px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.swiper-slide--content {
  display: flex;
}

.swiper-slide--content--inner {
  margin: 0 20px;
}

.slider__content-img {
  margin: 0 auto 120px;
  width: 420px;
  height: 550px;
}

.mySwiper--text {
  margin-bottom: 80px;
}

.slider__content-title {
  margin-bottom: 40px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.slider__content-text {
  margin-bottom: 80px;
  max-width: 1280px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.swiper-pagination {
  margin-bottom: 40px;
  height: 20px;
}

.slider__content-button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 250px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

/* ------------------------------- */

.projects {
  margin: 60px 0;
  background-color: white;
  color: #D8D9D8;
}

.card__short {
  background-color: #29292B;
  width: 1168px;
  height: 707px;
  padding: 0 60px;
  border-radius: 64px;
  cursor: pointer;
}

.card__long {
  background-color: #29292B;
  color: #D8D9D8;
  width: 1168px;
  height: 1570px;
  padding: 0 60px;
  border-radius: 64px;
  margin: 60px 0;
  cursor: pointer;
}

.card__long-content {
  display: flex;
  justify-content: space-between;
}

.card--inactive {
  visibility: hidden;
  height: 0;
}

.card__closed--header {
  display: flex;
  justify-content: space-between;
}

.card__closed--header-inner {
  max-width: 375px;
}

.card__closed--header-title {
  padding: 60px 0 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.card__closed--header-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;
}

.card__closed--header-img {
  width: 428px;
  height: 256px;
  padding: 60px 0 78px;
}

.card__closed--footer {
  display: flex;
  justify-content: space-between;
}

.card__closed--footer-collection {
  max-width: 497px;
}

.card__closed--footer-collection-title {
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.card__pricing {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.pricing__dolars sup {
  font-size: 32px;
  line-height: 38px;
}

.card__button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 179px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.card__closed--footer-graph {
  display: flex;
  justify-content: space-between;
}

.card__closed--footer-graph-inner {
  max-width: 210px;
  padding-bottom: 121px;
}

.card__closed--footer-graph-inner-text {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
}

.bottom-title {
  font-size: 22px;
  line-height: 32px;
}

.card__open--inner {
  max-width: 497px;
}

.card__open--inner-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 60px;
}

.card__open--img {
  width: 428px;
  margin-top: 60px;
}

.card__open--img-slider {
  width: 428px;
  height: 866px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #7867F4;
  border-radius: 30px;
}

.swiper-slide__open--card {
  width: 396px;
  height: 222px;
  border-radius: 40px;
}

.img-graph {
  padding: 0 0 22px 114px;
}

.card__open--img-graph-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;
  max-width: 174px;
  margin-left: auto;
}

.card__open-button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 343px;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 25px 0 60px 68px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.defense__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 65px;
}

/* ------------------------------- */

.contacts {
  padding: 120px 0;
  background-color: #1E1E1E;
}

.contacts__inner {
  background-color: #D8D9D8;
  width: 613px;
  height: 617px;
  border-radius: 40px;
  margin: 0 auto;
}

.contacts__title {
  padding: 60px 0 14px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.contacts__text {
  padding-bottom: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 591px;
}

.form {
  width: 327px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.form__input {
  color: #1E1E1E;
  margin-bottom: 18px;
  border-radius: 35px;
  border: 1px solid gray;
  display: block;
  width: 100%;
  height: 66px;
  padding: 21px 15px 21px 51px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.form__input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
}

/* .form-name::before{
  background-image: url(../images/name.svg);
}

.form-phone::before{
  background-image: url(../images/phone.svg);
}

.form-email::before{
  background-image: url(../images/email.svg);
} */

.form__button {
  background-color: #7867F4;
  color: #fff;
  border: transparent;
  border-radius: 35px;
  width: 100%;
  height: 66px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
}

span {
  color: #7E868E;
}

span a {
  color: #7E868E;
  text-decoration: underline;
}

/* -------------------------------- */